.form {
    padding: 150px;
}

.submitButton {
    display: flex;

}

.form h1 {
    font-weight: 700;
    text-align: center;
}

.form h2 {
    font-weight: 700;
    text-align: center;
}

.total__balance {
    margin: 45px;
    border: 1px solid rgb(20, 221, 161);

}

.remaining__balance {
    margin: 45px;
    border: 1px solid rgb(10, 122, 98);
}